<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="image/x-icon" href="icons/fav.png" rel="shortcut icon">
  <link type="Image/x-icon" href="icons/fav.png" rel="icon">

  <link rel="stylesheet" href="css/authorization.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="icon" type="images/x-icon" href="/src/assets/favicon/favicon.ico">
  <title>Deathracing</title>
</head>

<body>
  <div class="preview">
    <!--<img src="assets/images/preview-picture.png" alt="Tetris" width="800px" height="549px">-->
    <div class="container">
      <p>Welcome to Deathracing!</p>
      <form id="form" action="/gamescreen" method="get">
        <br><br>
        <label>
          <input class="usernameInput" id="username" placeholder="Username" autocomplete="on" minlength="3"
            maxlength="10" pattern="[A-Za-zа-яА-ЯёЁ\-]+">
        </label>
        <br><br>
        <input class="startButton" disabled="disabled" id="startButton" type="submit" value="START">
      </form>
    </div>

  </div>
</body>
<script type="module" src="scripts/authorization.js"></script>

</html>