<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="image/x-icon" href="icons/fav.png" rel="shortcut icon">
  <link type="Image/x-icon" href="icons/fav.png" rel="icon">
  <link rel="stylesheet" href="css/score.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap"
    rel="stylesheet">
  <title>Deathracing</title>
</head>

<body>
  <div class="main">
    <div class="flexbox">
      <div class="container">
        <h1>HALL OF FAME</h1>
        <div class="scoreContainer">
          <div class="scoreLine">1.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">2.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">3.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">4.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">5.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">6.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">7.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">8.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">9.<span class="name"></span><span class="dots"></span><span class="score"></span></div>
          <div class="scoreLine">10.<span class="name"></span><span class="dots"></span><span class="score"></span>
          </div>
        </div>
        <div>
          <button class="restartButton" id="restartButton" value="RESTART">RESTART</button>
          <button class="exitButton" id="exitButton" value="EXIT">EXIT</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="module" src="scripts/score.js"></script>

</html>